/*  
    Copyright 2023 HolyCorn Software
    The eHealthi Project
    This stylesheet controls the app-patient-health widget, where the patient manages aspects directly related to his health
*/



.hc-ehealthi-app-patient-health>.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: var(--hc-ehealthi-device-frame-view-available-height);
    overflow: auto;
}



.hc-ehealthi-app-patient-health>.container>.important {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hc-ehealthi-app-patient-health>.container>.important>.title {
    font-size: 1.75em;
    font-weight: bolder;
}


.hc-ehealthi-app-patient-health>.container>.btn-init-appointment {
    position: sticky;
    top: calc(100% - 4.75em);
    height: 0px;
    z-index: 1;
}

.hc-ehealthi-app-patient-health>.container>.btn-init-appointment>* {
    width: 100%;
}

.hc-ehealthi-app-patient-health>.container>.hold-profile {
    position: sticky;
    top: 1em;
    left: calc(100% - 3em);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.hc-ehealthi-app-patient-health>.container>.hold-profile>.main {
    display: inline-flex;
    flex-direction: column;
    gap: 0.25em;
    width: 3.5em;
    position: relative;
    align-items: center;
    font-weight: 900;
    background-color: white;
    border-radius: 1em;
    padding: 0.25em;
    padding-bottom: 0em;
}

.hc-ehealthi-app-patient-health>.container>.hold-profile>.main>.icon {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    background-size: cover;
}

.hc-ehealthi-app-patient-health>.container>.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 7em;
    padding-left: 0.25em;
    padding-top: 5em;
}